@using System.Web.Services.Discovery
@using Microsoft.AspNet.Identity
@using WebApp.Models
@model WebApp.Models.CommentProductViewModel

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Leave your opinion!</h4>
        <hr />
        @Html.ValidationSummary(true)

            <div>

                <textarea id="commentObject_Content" rows="2" name="commentObject.Content" cols="20" value="some blabla contexdt">@if ((Session["savedComment" + Model.productObject.Id.ToString()])!=null)
                                                                                                                                  {
                                                                                                                                      @Session["savedComment" + Model.productObject.Id.ToString()].ToString();
                                                                                                                                  }</textarea>
                @Html.ValidationMessageFor(model => model.commentObject.Content)
                Save your comment without publication? @Html.CheckBoxFor(model => model.saveCommentToSession)
                <br/>
                <input type="submit" value="Comment!" class="btn btn-success"/>

            </div>


    </div>

    @Html.HiddenFor(model => model.productObject.Id)

    @Html.HiddenFor(m => m.commentObject.ApplicationUserId);

}
