@using System.Web.Services.Discovery
@using Microsoft.AspNet.Identity
@using WebApp.Models
@model WebApp.Models.CommentProductViewModel

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Leave your opinion!</h4>
        <hr />
        @Html.ValidationSummary(true)

            <div>
                @Html.TextAreaFor(model => model.commentObject.Content)
                @Html.ValidationMessageFor(model => model.commentObject.Content)
                <input type="submit" value="Comment!" class="btn btn-success" />

            </div>


    </div>

    @Html.HiddenFor(model => model.productObject.Id)

    @Html.HiddenFor(m => m.commentObject.ApplicationUserId);

}
