@using Microsoft.AspNet.Identity
@using WebApp.Controllers
@using WebApp.Models
@model WebApp.Models.CommentProductViewModel


@{
    ViewBag.Title = "Details";
    Model.commentObject.ApplicationUserId = @User.Identity.GetUserId();
    
}

<h2>@Html.DisplayFor(model => model.productObject.Title)</h2>

<div>
    <hr/><center>
    <img width="350px" src="@Html.DisplayFor(model => model.productObject.Path)" />
</center>

    <dl class="dl-horizontal">
        <dt>
            Opis:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productObject.Description)
        </dd>

    </dl>
</div>


@Html.Partial("../Commie/Create")


<table class="table">
    <tr>
        <th>
            Użytkownik
        </th>
        <th>
            
        </th>
        <th>
            Opublikowano
        </th>
    </tr>

    @foreach (var item in Model.commentListObject)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPublication)
            </td>

        </tr>
    }

    </table>

<p>
    @if (User.IsInRole("Moderator"))
    {
        @Html.ActionLink("Edit", "Edit", new {id = Model.productObject.Id});
        
    }
    @Html.ActionLink("Back to List", "Index")
</p>
